In [104]:
# loading required libraries
import pandas as pd
import matplotlib.pyplot as plt

In [105]:
# loading integrated dataset
data_preprocess = pd.read_csv("pre_processed_data.csv")
data_preprocess.head()

,area_code,area,year_code,year,item_code,item,producer_price,producer_price_index,area_harvested,production,...,total_pesticide_use_per_value_of_agri_production,total_pesticide_export_quantity,total_pesticide_export_value,total_pesticide_import_quantity,total_pesticide_import_value,temp_change_dec_jan_feb,temp_change_mar_apr_may,temp_change_jun_jul_aug,temp_change_sep_oct_nov,temp_change_meteorological_year
0,1,Armenia,1997,1997,15,Wheat,225.3,89.40,108000.0,183700.0,...,0.05,3.604,3.687,117.861,298.379,2.166,-0.319,0.870,0.184,0.725
1,1,Armenia,1998,1998,15,Wheat,205.6,83.91,118300.0,244300.0,...,0.06,3.604,3.687,207.171,340.124,-0.259,1.483,2.145,2.027,1.349
2,1,Armenia,1999,1999,15,Wheat,177.5,76.79,110129.0,214380.0,...,0.07,3.604,3.687,296.481,381.869,3.535,0.814,1.611,0.264,1.556
3,1,Armenia,2000,2000,15,Wheat,163.5,71.30,106581.0,177762.0,...,0.08,3.604,3.687,160.902,482.955,1.148,0.723,2.166,0.364,1.100
4,1,Armenia,2001,2001,15,Wheat,166.0,74.51,108554.0,241679.0,...,0.09,1.145,9.068,200.884,698.022,1.818,2.072,1.578,0.409,1.469

In [106]:
data_integrated = pd.read_csv("integrated_data.csv")
data_integrated.head()

,area_code,area,year_code,year,item_code,item,producer_price,producer_price_index,area_harvested,laying,...,total_pesticide_use_per_value_of_agri_production,total_pesticide_export_quantity,total_pesticide_export_value,total_pesticide_import_quantity,total_pesticide_import_value,temp_change_dec_jan_feb,temp_change_mar_apr_may,temp_change_jun_jul_aug,temp_change_sep_oct_nov,temp_change_meteorological_year
0,1,Armenia,1997,1997,15,Wheat,225.3,89.40,108000.0,NaN,...,0.05,3.604,3.687,117.861,298.379,2.166,-0.319,0.870,0.184,0.725
1,1,Armenia,1998,1998,15,Wheat,205.6,83.91,118300.0,NaN,...,0.06,3.604,3.687,207.171,340.124,-0.259,1.483,2.145,2.027,1.349
2,1,Armenia,1999,1999,15,Wheat,177.5,76.79,110129.0,NaN,...,0.07,3.604,3.687,296.481,381.869,3.535,0.814,1.611,0.264,1.556
3,1,Armenia,2000,2000,15,Wheat,163.5,71.30,106581.0,NaN,...,0.08,3.604,3.687,160.902,482.955,1.148,0.723,2.166,0.364,1.100
4,1,Armenia,2001,2001,15,Wheat,166.0,74.51,108554.0,NaN,...,0.09,1.145,9.068,200.884,698.022,1.818,2.072,1.578,0.409,1.469

In [107]:
data_gov_expd_ag = data_integrated[['area_code', 'area', 'year_code', 'year', 'item_code', 'item' ,'govt_expenditure_on_ag']]
data_gov_expd_ag.head()

,area_code,area,year_code,year,item_code,item,govt_expenditure_on_ag
0,1,Armenia,1997,1997,15,Wheat,NaN
1,1,Armenia,1998,1998,15,Wheat,NaN
2,1,Armenia,1999,1999,15,Wheat,NaN
3,1,Armenia,2000,2000,15,Wheat,NaN
4,1,Armenia,2001,2001,15,Wheat,NaN

In [108]:
merged_data = pd.merge(
    data_preprocess, data_gov_expd_ag, 
    on=['area_code', 'area', 'year_code', 'year', 'item_code', 'item'],
    how = 'left'
)

merged_data.shape

(180759, 98)

In [109]:
merged_data['govt_expenditure_on_ag_forest_fish'] = merged_data['govt_expenditure_on_ag_forest_fish'].fillna(merged_data['govt_expenditure_on_ag'])

In [110]:
data = merged_data.drop('govt_expenditure_on_ag', axis = 1)
data.shape

(180759, 97)

In [114]:
prop_na = (data.isna().mean()*100).sort_values(ascending=False)
prop_na = prop_na.loc[prop_na > 10]
prop_na

fdi_ag_forest_fish                            56.710316
fdi_ag_forest_fish_share                      56.710316
govt_expenditure_on_ag_forest_fish            48.882213
producer_price                                44.291017
credit_to_ag_forest_fish_share_totalcredit    40.650258
credit_to_ag_forest_fish_2015_usd             40.650258
agri_orientation_index_2015_usd               40.650258
afs_employment_share_in_total_employment      37.017797
total_employment_afs                          36.147578
agri_orientation_index_govt_expenditure       32.216930
area_temporary_crops                          32.024961
phosphorus_production                         27.454235
export_quantity                               26.296893
export_value                                  26.063986
gross_production_value                        25.995386
import_quantity                               25.223087
import_value                                  25.115209
nitrogen_production                           24.457980
gross_production_index                        13.178874
yield                                         11.110373
area_harvested                                10.593663
dtype: float64

In [115]:
feature_list = list(prop_na.keys())
prop_list = list(round(val,3) for val in prop_na.values)

num_countries = []
num_items = []
for feature in feature_list:
    country_count = len(data['area'].loc[data[feature].notna()].unique())
    num_countries.append(country_count)
    item_count = len(data['item'].loc[data[feature].notna()].unique())
    num_items.append(item_count)

df = pd.DataFrame({
    'Feature': feature_list,
    'Number_of_countries': num_countries,
    'Number_of_items': num_items,
    'Percent_NA': prop_list
})

df

,Feature,Number_of_countries,Number_of_items,Percent_NA
0,fdi_ag_forest_fish,92,133,56.710
1,fdi_ag_forest_fish_share,92,133,56.710
2,govt_expenditure_on_ag_forest_fish,114,134,48.882
3,producer_price,117,133,44.291
4,credit_to_ag_forest_fish_share_totalcredit,98,134,40.650
5,credit_to_ag_forest_fish_2015_usd,98,134,40.650
6,agri_orientation_index_2015_usd,98,134,40.650
7,afs_employment_share_in_total_employment,111,134,37.018
8,total_employment_afs,114,134,36.148
9,agri_orientation_index_govt_expenditure,119,134,32.217
10,area_temporary_crops,119,134,32.025
11,phosphorus_production,119,134,27.454
12,export_quantity,119,131,26.297
13,export_value,119,131,26.064
14,gross_production_value,117,129,25.995
15,import_quantity,119,132,25.223
16,import_value,119,132,25.115
17,nitrogen_production,119,134,24.458
18,gross_production_index,119,129,13.179
19,yield,119,130,11.110
20,area_harvested,119,130,10.594

In [116]:
data.columns

Index(['area_code', 'area', 'year_code', 'year', 'item_code', 'item',
       'producer_price', 'producer_price_index', 'area_harvested',
       'production', 'yield', 'gross_production_value',
       'gross_production_index', 'area_agri_land', 'area_arable_land',
       'area_cropland', 'area_with_irrigation', 'area_permanent_crops',
       'area_temporary_crops', 'value_per_unit_agri_land',
       'cropland_area_per_capita', 'export_quantity', 'export_value',
       'import_quantity', 'import_value', 'gross_domestic_product',
       'gross_fixed_capital_formation', 'value_added_ag_forest_fish',
       'gdp_annual_growth', 'gfcf_annual_growth',
       'value_added_ag_forest_fish_annual_growth', 'gfcf_share_in_total_gdp',
       'ag_forest_fish_share_in_total_gdp', 'fdi_ag_forest_fish',
       'total_fdi_inflows', 'fdi_ag_forest_fish_share',
       'agri_orientation_index_govt_expenditure',
       'govt_expenditure_on_ag_forest_fish',
       'credit_to_ag_forest_fish_2015_usd',
       'credit_to_ag_forest_fish_share_totalcredit',
       'agri_orientation_index_2015_usd', 'emission_share_farmgate',
       'emission_share_land_use_change',
       'emission_share_pre_and_post_production',
       'emission_share_end_to_end_agrifood', 'emission_share_crops',
       'emission_share_livestock', 'emission_share_ipcc_agriculture',
       'emission_share_energy_use', 'emission_share_agri_waste_mgt',
       'value_added_per_worker', 'employment_in_agri',
       'agri_employment_share_in_total_employment', 'total_employment_afs',
       'afs_employment_share_in_total_employment', 'rural_population',
       'urban_population', 'total_population', 'nitrogen_agri_use',
       'nitrogen_export_quantity', 'nitrogen_import_quantity',
       'nitrogen_production', 'nitrogen_use_per_area_of_cropland',
       'nitrogen_use_per_capita', 'nitrogen_use_per_value_of_ag_production',
       'phosphorus_agri_use', 'phosphorus_export_quantity',
       'phosphorus_import_quantity', 'phosphorus_production',
       'phosphorus_use_per_area_of_cropland', 'phosphorus_use_per_capita',
       'phosphorus_use_per_value_of_ag_production', 'potassium_agri_use',
       'potassium_export_quantity', 'potassium_import_quantity',
       'potassium_use_per_area_of_cropland', 'potassium_use_per_capita',
       'potassium_use_per_value_of_ag_production',
       'cropland_nitrogen_per_unit_area', 'cropland_nitrogen_use_efficiency',
       'cropland_phosphorus_per_unit_area',
       'cropland_phosphorus_use_efficiency',
       'cropland_potassium_per_unit_area', 'cropland_potassium_use_efficiency',
       'total_pesticide_use_for_agriculture',
       'total_pesticide_use_per_area_of_cropland',
       'total_pesticide_use_per_capita',
       'total_pesticide_use_per_value_of_agri_production',
       'total_pesticide_export_quantity', 'total_pesticide_export_value',
       'total_pesticide_import_quantity', 'total_pesticide_import_value',
       'temp_change_dec_jan_feb', 'temp_change_mar_apr_may',
       'temp_change_jun_jul_aug', 'temp_change_sep_oct_nov',
       'temp_change_meteorological_year'],
      dtype='object')

In [123]:

data.loc[:, 'value_added_ag_forest_fish']

0          636.264290
1          718.342383
2          728.720081
3          720.704274
4          805.026484
             ...
180754    2936.596083
180755    2770.021383
180756    2540.394686
180757    2424.436933
180758            NaN
Name: value_added_ag_forest_fish, Length: 180759, dtype: float64